@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: GmarketSansMedium;
}

.contents {
    width: 600px;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.contents > header > div > h1 {
    text-align: center;
    font-size: 45px;
    margin: 0 auto;
}

.contents > section > form > article {
    margin: 10px 0 20px 0px;
    height: 100px;
}

.contents > section > form > article > div > input.text {
    font-family: GmarketSansMedium;
    height: 50px;
    font-size: 18px;
    width: 600px;
    border-color: rgba(0, 0, 0, 0.13);
}

.contents > section > form > article > div.radioContainer {
    display: flex;
    align-items: center;
}

.contents > section > form > article > div > input {
    font-family: GmarketSansMedium;
    height: 50px;
    width: 20px;
    font-size: 18px;
    border-color: rgba(0, 0, 0, 0.13);
}

.contents > section > form > article > div > input[type="radio"] {
    font-family: GmarketSansMedium;
    height: 50px;
    width: 20px;
    margin-right: 5px;
    font-size: 18px;
    border-color: rgba(0, 0, 0, 0.13);
}

.contents > section > form > article > div > label {
    font-family: GmarketSansMedium;
    width: 70px;
    font-size: 18px;
    border-color: rgba(0, 0, 0, 0.13);
}

.contents > section > form > article > div > span {
    font-size: 25px;
    color: darkgray;
}

.contents > section  > article > div.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 600px;
}

.contents > section  >article > div.buttonContainer > button {
    width: 120px;
    height: 40px;
    font-family: GmarketSansMedium;
    font-size: 18px;
    display: inline-block;
    border-color: rgba(0, 0, 0, 0.13);
}

.contents > section  >article > div.buttonContainer  > div{
    text-align: left;
    margin: 0;
    padding: 0;
    width: auto;
}

.contents > section > article > div.buttonContainer > button.left {
    color: rgb(128, 128, 128);
    background-color: #fff;
}


.contents > section  >article > div.buttonContainer > div > button.right {
    width: 120px;
    background-color: cornflowerblue;
    height: 40px;
    color: white;
    border-color: rgba(0, 0, 0, 0.13);
    font-family: GmarketSansMedium;
    font-size: 18px;
}



